Viewed 377k times

560


122
Possible Duplicate:
Intellij Idea 9/10, what folders to check into (or not check into) source control?

I started using WebStorm for web development and am not sure what to add and what to exclude from our Git repository. Clearly some files inside the .idea folder are meant to be version controlled like the external library settings (jsLibraryMappings.xml) but others will probably change very often and are developer-specific (e.g., workspace.xml).

What is the recommended .gitignore pattern for WebStorm / IntelliJ IDEA?

P.S. There are already questions about this but usually focus only on whether to include the whole .idea folder or whether to fully exclude it. I think some of the files inside the .idea folder should be version controlled while others shouldn't and I'm trying to find out which ones.

git
intellij-idea
gitignore
webstorm
Share
Improve this question
Follow
edited Nov 21 '19 at 10:17

BuZZ-dEE
3,68566 gold badges4545 silver badges7474 bronze badges
asked Aug 15 '12 at 11:32

Borek Bernard
42.8k5050 gold badges146146 silver badges223223 bronze badges
11
I think, that put IDE files into versioning system is bad idea. Your project will be more tied to particular IDE and you can bring problems for users of other IDEs. I had a few projects with IDE files in VCS and I faced complications. Now I have in VCS just maven files and IDEA generate project files and everything is fine. – chalimartines Aug 15 '12 at 11:57
13
@chalimartines I prefer to have everything required for build in the repository. As we don't use Maven and also use a single IDE, it would be a complication NOT to have .idea files in VCS. – Borek Bernard Aug 15 '12 at 12:20
Possible duplicate of Intellij Idea 9/10, what folders to check into (or not check into) source control? – Cœur Jul 14 '18 at 14:15
Possible duplicate of What is the difference between 'git pull' and 'git fetch'? – Logz Mar 5 '19 at 7:52
Add a comment
9 Answers

469

The official support page should answer your question.

So in your .gitignore you might ignore the files ending with .iws, and the workspace.xml and tasks.xml files.

Share
Improve this answer
Follow
edited Nov 21 '19 at 10:18

BuZZ-dEE
3,68566 gold badges4545 silver badges7474 bronze badges
answered Aug 15 '12 at 11:41

hifkanotiks
5,06511 gold badge1212 silver badges2424 bronze badges
7
The doc recommends "share all the .iml module files", so a .gitignore with the following two lines should be fine: .idea/workspace.xml .idea/tasks.xml – Kevin Ortman Dec 30 '12 at 20:38 
9
The correct syntax seems to be */.idea/workspace.xml */.idea/tasks.xml – vsp Apr 4 '13 at 12:24
117
A better syntax is **/.idea/workspace.xml **/.idea/tasks.xml – Josh Unger Feb 2 '14 at 15:28 
38
why is the **/ better than */? – Vanquish46 Aug 5 '14 at 4:21 
44
@Vanquish46 : More specifically, the ** recurses through all the sub-folders, so files that meet the criteria are ignored in sub-folders as well. – Syndog Oct 7 '14 at 16:56 
Show 15 more comments

266

I just want to present a more recent alternative. There is an online tool that generates .gitignore files based on operating systems, IDEs and programming languages that you might be using.

gitignore.io

EDIT Disclaimer: Do not copy this file, copy the file generated by the website instead, they do a good job on keeping it updated. This is just an example.

The file generated for IntelliJ contains the following

# Created by https://www.gitignore.io/api/intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml